.layout-desktop .buttons 
{
display: flex;
height: 35px;
justify-content: space-between;
}

.layout-desktop .buttons div[dir="ltr"] 
{
position: fixed;
left: 50%;
transform: translateX(-50%);
}

.layout-desktop .btnSubtitles
{
position: fixed;
left: 10px;
}

.layout-desktop .btnAudio 
{
position: fixed;
left: 50px;
}

.layout-desktop .volumeButtons
{
position: fixed;
right: 95px;
}

.layout-desktop .btnVideoOsdSettings
{
position: fixed;
right: 50px;
}

.layout-desktop .btnFullscreen
{
position: fixed;
right: 10px;
}


.osdTimeText,
.btnUserRating,
.btnPip 
{
display: none;
}